.header {
  padding: 56px 0 40px 0;
  border-bottom: 1px solid #262626;
  // margin-bottom: 92px;
  width: 100%;
  background-color: #121212;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  &.main {
    border-bottom: none;
    background-color: transparent;
    transition: background .5s ease;

    &.sticky {
      background-color: #121212;
      border-bottom: 1px solid #262626;
    }

    .header-content-img {
      overflow: hidden;
      margin-right: 0;
      opacity: 0;
      transform: translate(-100%, 0);
      visibility: hidden;
      transition: all .5s ease;

      @media(max-width: 1024.99px) {
        transform: translate(-20px, 0);
      }

      &.visible {
        margin-right: 107px;
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
      }
    }

    &.active {
      background-color: #121212;

      .header-content-img {
        opacity: 1;
        transform: none;
        visibility: visible;
        margin: 0 auto;
      }
    }

    @media(max-width: 1024.99px) {
      .header-content-img {
        display: block;
        opacity: 0;
      }
    }
  }

  a {
    transition: color .1s ease-in;

    &:hover {
      color: #fff;
    }
  }

  &-content {
    color: #D9D9D9;
    align-items: center;
    height: 56px;

    &-img {
      line-height: 0;
      max-width: 193px;
      flex: 0 0 193px;
      width: 100%;
      margin-right: 107px;

      &.active {
        margin: 0 auto;
      }

      @media(max-width: 1024.99px) {
        margin-right: 0;
      }
    }

    &-block {
      width: 100%;
      position: relative;
      top: -8px;
      font-size: 18px;
      text-transform: uppercase;
    }

    &-nav {
      // max-width: calc(100% - 350px);
      // flex: 0 0 calc(100% - 350px);
      flex: 1 0 auto;
      margin-right: 50px;

      a {
        color: #D9D9D9;
        // font-size: 18px;
        font-weight: 700;

        &.active {
          text-decoration-line: underline;
          text-underline-offset: 4px;
        }
      }

      ul {
        margin-bottom: 0;
        display: flex;
        max-width: 931px;
      }

      li {
        display: inline-block;
        margin-right: 12px;
        flex: 1 0 auto;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-info {
      display: inline-block;
      // font-size: 18px;
      font-weight: 700;
      // max-width: 300px;
      // flex: 0 0 300px;
      flex: 0 0 auto;
    }

    a.phone {
      display: inline-block;
      color: #D9D9D9;
      // font-size: 18px;
      margin-right: 57px;
      padding-left: 26px;
      position: relative;

      img {
        position: absolute;
        left: -1px;
        top: 2px;
      }
    }

    &-burger {
      display: none;
      width: 48px;
      height: 48px;
      flex: 0 0 48px;
      background: transparent;
      border-radius: 50%;
      position: absolute;
      border: 1px solid #D8E5F1;
      right: 20px;
      top: 30px;

      &::after {
        content: '';
        background-image: url('../images/burger.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.active {
        border: none;
        top: 20px;

        &::after {
          background-image: url('../images/burger-close.svg');
          width: 28px;
          height: 28px;
        }
      }
    }

    &-lang {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
    }

    @media(max-width: 1024.99px) {
      justify-content: space-between;

       &-block {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: #121212;
          z-index: 30;
          border-top: 1px solid #333;
          height: calc(100vh - 121px);
          height: calc(var(--vh, 1vh) * 100 - 121px);
          overflow-y: auto;
          overflow-x: hidden;

          &.active {
            display: flex;
            flex-direction: column;

          }
       }

       &-nav {
          max-width: 100%;
          margin-right: 0;
          margin-bottom: 42px;
          padding: 45px 30px;
          border-bottom: 1px solid #333;

          ul {
            display: block;
          }

          li {
            width: 100%;
            text-align: center;
            margin-bottom: 32px;
            margin-right: 0;

            &:last-child {
              margin-bottom: 0;
            }
          }
       }

       &-info {
          max-width: 100%;
          width: 100%;
          margin-bottom: 54px;
          display: flex;
          justify-content: space-between;
          padding: 0 30px;
       }

       &-burger {
          display: block;
       }
    }

    @media(max-width: 576.99px) {
      &-info {
        flex-direction: column;
        align-items: center;
      }

      a.phone {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }

  &-lang {
    &-select {
      display: inline-block;
      padding-right: 18px;
      position: relative;
      cursor: pointer;

      img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &-default {
      display: inline-block;
      padding-right: 18px;
      position: relative;
      cursor: pointer;

      img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &-menu {
      position: absolute;
      left: -12px;
      top: -12px;
      border-radius: 6px;
      border: 1px solid #333;
      background: #121212;
      padding: 11px;
      display: none;

      &.active {
        display: block;
      }

      a {
        color: #606060;
      }
    }
  }

  @media(max-width: 1680.99px) {
    &-content {
      &-img {
        margin-right: 75px;
      }

      // a.phone {
      //   margin-right: 42px;
      // }
    }
  }

  @media(max-width: 1300.99px) {
    &-content {
      &-img {
        margin-right: 40px;
      }

      &-nav {
        margin-right: 30px;
      }

      a.phone {
        font-size: 0;
        width: 20px;
        height: 20px;
        padding-left: 0;
        margin-right: 18px;
        left: 0;

        img {
          position: relative;
        }
      }
    }
  }

  @media(max-width: 1024.99px) {
    padding: 32px 0;
    // position: relative;

    &-content {
      &-img {
        margin-right: 0;
      }

      &-nav {
        margin-right: 0;
      }

      a.phone {
        padding-left: 26px;
        font-size: 18px;
        width: auto;
        height: auto;
        margin-right: 0;

        img {
          position: absolute;
          left: -1px;
        }
      }
    }
  }
}