.footer {
  padding: 60px 0;
  border-top: 1px solid #292929;
  background-color: #121212;
  position: relative;
  z-index: 1;

  &-content {
    justify-content: space-between;
    align-items: center;

    &-img {
      line-height: 0;
      max-width: 270px;
      margin-right: 50px;
    }

    &-txt {
      display: inline-block;

      a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        margin-right: 174px;
        transition: color .1s ease-in;

        &:hover {
          color: #d9d9d9;
        }
      }
    }

    &-coopyright {
      display: inline-block;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}