.development {
  position: relative;
  padding-bottom: 100px;
  // margin-bottom: 120px;

  &-head {
    margin-bottom: 120px;

    a {
      font-size: 24px;
      color: #D9D9D9;
      text-transform: uppercase;
      margin-right: 52px;
      margin-bottom: 12px;
      text-decoration: underline dotted;
      text-underline-offset: 6px;
      display: inline-block;

      &:hover {
        color: #fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-block {
    color: #D9D9D9;
    font-size: 18px;
    padding: 58px 90px;
    margin: 0 -90px;
    background: radial-gradient(96.15% 96.15% at 50% 50%, #1D1D1D 0%, #000 100%);
    position: relative;
    height: 702px;

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        left: -100%;
        right: -100%;
        top: 0;
        height: 1px;
        background-color: #292929;
        z-index: 0;
      }
    }

    &-img {
      text-align: center;
      max-height: 586px;

      // @media(max-width: 1024.99px) {
      //    margin-bottom: 30px;
      //    width: 350px;
      //    margin: 0 auto;
      //    margin-bottom: 35px;
      // }
    }

    &-info {
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 24px;
      margin-bottom: 24px;
      padding-right: 25px;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #1d1d1d;
      }

      &::-webkit-scrollbar-thumb {
        background: #D9D9D9;
      }
    }

    &-bottom {
      min-height: 28px;

      a {
        position: relative;
        padding-left: 35px;
        color: #606060;
        font-size: 16px;
        display: inline-block;
        margin-bottom: 8px;

        &::after {
          content: '';
          width: 6px;
          height: 6px;
          background-color: #606060;
          margin: 0 16px;
          display: inline-block;
          border-radius: 50%;
          position: relative;
          top: -3px;
        }

        &:last-child {
          &::after {
            content: none;
          }
        }

        span {
          text-decoration-line: underline;
          text-underline-offset: 4px;
          text-decoration-thickness: 1px;
          transition: color .1s ease;
          font-size: 20px;

          &:hover {
            color: #fff;
          }
        }

        img {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          max-width: 23px;
          max-height: 23px;
        }
      }
    }

    &-content {
      max-width: 800px;
    }

    .row {
      align-items: center;

      &.reverse {
        flex-direction: row-reverse
      }
    }

    &-title {
      font-size: 48px;
      text-transform: uppercase;
      margin-bottom: 30px;

      // @media(max-width: 1024px) {
      //    font-size: 32px;
      // }
    }

    &-txt {
      // padding: 32px 0 53px 0;
      margin-bottom: 30px;
      position: relative;

      // @media(max-width: 1024px) {
      //    font-size: 16px;
      // }

      .line {
        width: 116px;
        height: 1px;
        background: #D9D9D9;
      }

      p {
        margin-bottom: 32px;

        // @media(max-width: 1024px) {
        //    margin-bottom: 15px;
        // }
      }

      li {
        position: relative;
        padding-left: 12px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: #D9D9D9;
        }
      }
    }
  }

  @media(min-width: 1980px) {
    padding: 58px 100%;
    margin: 0 -100%;
  }

  @media(max-width: 1024.99px) {
    padding-bottom: 50px;

    &-block {
      height: 100%;
      padding: 40px 20px;
      margin: 0 -20px;

      &-img {
        margin-bottom: 30px;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 35px;
        // display: none;
      }

      &-title {
        font-size: 30px;
        margin-bottom: 15px;
      }

      &-txt {
        font-size: 16px;
        margin-bottom: 15px;

        p {
          margin-bottom: 15px;
        }
      }

      &-bottom {
        a {
          padding-left: 30px;

          &::after {
            margin: 0 8px;
          }

          span {
            font-size: 16px;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &-head {
      margin-bottom: 50px;

      &-target {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px;
      }

      a {
        margin-right: 20px;
        font-size: 22px;
      }
    }
 }

 @media(max-width: 768.99px) {
    padding-bottom: 40px;

    &-block {

      &-title {
        font-size: 28px;
      }

      &-info {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    &-head {
      margin-bottom: 40px;

      a {
        font-size: 20px;
      }
    }
 }

 @media(max-width: 576.99px) {
    padding-bottom: 30px;

    &-block {

      &-title {
        font-size: 24px;
      }

      // &-bottom {
      //   white-space: nowrap;
      //   overflow-x: auto;
      //   overflow-y: hidden;
      // }
    }
 }
}

.development-block-list + .ui-pagination {
  margin-top: 120px;

  @media(max-width: 1024.99px) {
    margin-top: 80px;
  }

  @media(max-width: 768.99px) {
    margin-top: 70px;
  }

  @media(max-width: 576.99px) {
    margin-top: 60px;
  }
}