.exhibition {
  margin-bottom: 160px;

  &-head {
    margin-bottom: 80px;

    .ui-title {
      margin-bottom: 30px;
    }

    &-bottom {
      color: #606060;
      font-size: 24px;
    }

    &-count {
      display: inline-block;
      position: relative;
      padding-left: 62px;

      img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }

    &-data {
      display: inline-block;
    }
  }

  &-photos {
    margin-bottom: 90px;
  }

  &-photo {
    line-height: 0;
    margin-bottom: 30px;
    display: block;
    cursor: pointer;
  }
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #606060;
  display: inline-block;
  border-radius: 50%;
  margin: 0 20px;
  position: relative;
  top: -2px;
}