.gallery {
  &-slider {
    padding-bottom: 100px;
    margin-bottom: 100px;
    position: relative;

    .splide__track {
      margin-bottom: 75px;
    }

    .splide__arrows {
      top: -4px;
      right: 0;
      position: absolute;
    }

    .splide__pagination {
      position: static;
      max-width: 100%;
      flex: 100%;
    }

    .splide-controls {
      justify-content: center;

      &.hidden {
        display: none;
      }
    }
  }

  &-block {
    position: relative;
    padding-bottom: 125px;
    // margin-bottom: 130px;

    &-content {
      .ui-card {
        margin-bottom: 70px;
      }
    }
  }

  @media(max-width: 1024.99px) {
     &-slider {
      padding-bottom: 80px;
      margin-bottom: 80px;

      .splide__track {
        margin-bottom: 0;
      }
     }

     &-block {
      &-content {

        .ui-card {
          margin-bottom: 50px;
        }
      }
     }

     &-block {
      padding-bottom: 60px;
     }
  }

  @media(max-width: 768.99px) {
     &-slider {
      .splide__arrows {
        display: none;
      }
     }
  }

  @media(max-width: 576.99px) {
     &-slider {
      padding-bottom: 60px;
      margin-bottom: 60px;
     }

     &-block {
      padding-bottom: 40px;

      &-content {
        .ui-card {
          margin-bottom: 42px;
        }
      }
     }
  }
}

// .gallery-block-content + .ui-pagination {
//   margin-top: 60px;

//   @media(max-width: 1024.99px) {
//     margin-top: 30px;
//   }

//   @media(max-width: 576.99px) {
//     margin-top: 18px;
//   }
// }