.main {
  &-screen {
    position: fixed;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 50px 50px 50px;

    .input-range {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 84px;
    }

    &-range {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60px;
      margin: 0;
      z-index: 11;

      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        z-index: 11;
        // transform: translate(-50%, 0);
        opacity: 0;
     }

      &:focus {
        outline: none;
      }
    }

    &-video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-fit: cover;
      object-position: center;
    }

    &-txt {
      font-size: 16.927vw;
      text-align: center;

      svg {
        position: relative;
        width: 100%;
      }
    }

    &-title {
      font-weight: 700;
      justify-content: space-between;
    }

    &-subtitle {
      font-size: 0.1867emem;
      position: relative;
      top: -36px;
      justify-content: center;
    }

    &-word {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-letter {
      color: black;
      opacity: 1;
      transition: opacity 0.2s;
      z-index: 2;
      position: relative;
      text-transform: uppercase;
      color: #D9D9D9;
    }

    &-anchor {
      display: none;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.20);
      background: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(10px);
      max-width: 132px;
      width: 100%;
      height: 67px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        background-image: url('../images/arrow-anchor.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20px;
        height: 12px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-bg {
      height: 100%;
      width: 100%;
      opacity: 1;
      background: #121212;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }

    &-block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-handle {
      background-color: #E74B23;
      height: 60px;
      width: 60px;
      bottom: 84px;
      border-radius: 50%;
      position: absolute;
      background-image: url('../images/range.svg');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      // transform: translate(-50%, 0);
      right: -29px;
      z-index: 10;
    }

    // &-space {
    //   margin: 0 14px;
    // }

    @media(max-width: 1024.99px) {
      padding-top: 120px;
      padding-left: 30px;
      padding-right: 30px;

      &-anchor {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &-handle {
        display: none;
      }

      &-bg {
        background: linear-gradient(352deg, rgba(0, 0, 0, 0.99) -21.76%, rgba(0, 0, 0, 0.00) 26.76%), linear-gradient(180deg, rgba(0, 0, 0, 0.52) 3.59%, rgba(0, 0, 0, 0.00) 63.7%), radial-gradient(118.59% 118.59% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, #000 100%);
      }
    }
  }
}

.info {
  margin-bottom: 160px;
  border: 1px solid #7b7b7b;

  &-main {
    max-width: 684px;
    flex: 0 0 684px;
    background-color: #fff;
    color: #121212;
    padding: 66px 44px 68px 54px;
    border-right: 1px solid #7B7B7B;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-img {
      line-height: 0;
      margin-bottom: 56px;

      img {
        width: 329px;
        height: 100%;
      }
    }

    &-title {
      font-size: 48px;
      font-weight: 400;
      line-height: 1.1;

      .line {
        margin-top: 35px;
        margin-bottom: 35px;
        width: 116px;
        height: 1px;
        background: #121212;
      }
    }

    &-subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      max-width: 530px;
    }

    @media(max-width: 1680.99px) {
      max-width: 50%;
      flex: 0 0 50%;

      &-title {
        font-size: 45px;
      }
    }

    @media(max-width: 1300.99px) {
      &-title {
        font-size: 42px;
      }
    }

    @media(max-width: 1170.99px) {
      &-title {
        font-size: 40px;
      }

      &-img {
        img {
          width: 290px;
        }
      }
    }

    @media(max-width: 1024.99px) {
      max-width: 100%;
      flex: 0 0 100%;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 55px;
      border-bottom: 1px solid #7b7b7b;

      &-title {
        font-size: 40px;

        .line {
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }

      &-img {
        margin-bottom: 53px;
      }

      &-subtitle {
        margin: 0 auto;
      }
    }

    @media(max-width: 768.99px) {
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;

      &-title {
        font-size: 32px;

        .line {
          left: 0;
          transform: none;
        }
      }

      &-subtitle {
        margin: 0;
      }
    }
  }

  &-items {
    flex-wrap: wrap;
    max-width: calc(100% - 684px);
    flex: 0 0 calc(100% - 684px);
    // border: 1px solid #7B7B7B;
    overflow: hidden;

    @media(max-width: 1680.99px) {
      max-width: 50%;
      flex: 0 0 50%;
    }

    @media(max-width: 1024.99px) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    // @media(max-width: 576.99px) {
    //   flex-direction: column;
    // }
  }

  &-secondary {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 32px 82px 35px 51px;
    // border: 1px solid #7B7B7B;
    color: #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    margin-left: calc(-1 * var(--bordersize));
    margin-bottom: calc(-1 * var(--bordersize));

    &-img {
      line-height: 0;
      margin-bottom: 12px;
      // margin-bottom: 56px;

      img {
        width: 59px;
        height: 59px;
      }
    }

    &-title {
      font-size: 80px;
      font-weight: 700;
      line-height: 1.4;
    }

    &-subtitle {
      font-size: 24px;
      font-weight: 400;
      min-height: 68px;
    }

    @media(max-width: 1680.99px) {
      padding: 32px;

      &-title {
        font-size: 65px;
      }

      &-subtitle {
        font-size: 22px;
      }

      &-img {
        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    @media(max-width: 1300.99px) {
      &-title {
        font-size: 60px;
      }

      &-subtitle {
        font-size: 20px;
      }
    }

    @media(max-width: 1170.99px) {
      padding: 24px;

      &-subtitle {
        font-size: 18px;
      }
    }

    @media(max-width: 1024.99px) {
       text-align: center;
    }

    @media(max-width: 768.99px) {
       text-align: left;
       padding: 20px 20px 35px 20px;

       &-title {
        font-size: 48px;
        margin-bottom: 15px;
       }

       &-subtitle {
        font-size: 16px;
        min-height: 90px;
       }
    }

  //   @media(max-width: 576.99px) {
  //     max-width: 100%;
  //     flex: 0 0 100%;
  //  }
  }

  @media(max-width: 1024.99px) {
    flex-direction: column;
    margin-bottom: 120px;
    margin-left: -20px;
    margin-right: -20px;
    border: none;
    border-bottom: 1px solid #7b7b7b;
    margin-bottom: 100px;
  }

  @media(max-width: 768.99px) {
     margin-bottom: 80px;
  }

  @media(max-width: 576.99px) {
     margin-bottom: 50px;
  }
}

.experience {
  margin-bottom: 110px;

  @media(max-width: 1024.99px) {
     margin-bottom: 85px;

     &-bg {
       width: calc(100% + 40px);
       text-align: center;
       max-width: none;
       margin: 0 -20px;
     }
  }

  @media(max-width: 768.99px) {
    margin-bottom: 65px;
  }

  @media(max-width: 576.99px) {
    margin-bottom: 50px;
  }

  &-head {
    margin-bottom: 153px;
    max-width: 1210px;

    &-headline {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 48px;
    }

    &-title {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    &-subtitle {
      font-size: 22px;
    }

    @media(max-width: 1680.99px) {
      margin-bottom: 135px;
    }

    @media(max-width: 1300.99px) {
      margin-bottom: 100px;
    }

    @media(max-width: 1170.99px) {
       margin-bottom: 80px;
    }

    @media(max-width: 1024.99px) {
      margin-bottom: 54px;

      &-headline {
        margin-bottom: 28px;
      }

      &-title {
        font-size: 42px;
        margin-bottom: 27px;
      }

      &-headline {
        font-size: 24px;
      }

      &-subtitle {
        font-size: 20px;
      }
    }

    @media(max-width: 768.99px) {
      margin-bottom: 45px;

      &-title {
        font-size: 35px;
      }

      &-subtitle {
        font-size: 18px;
      }

      &-headline {
        font-size: 20px;
      }
    }

    @media(max-width: 576.99px) {
      margin-bottom: 35px;

      &-title {
        font-size: 32px;
      }
    }
  }

  &-cards {
    margin-bottom: 118px;

    .splide__arrows {
      display: none;
    }

    @media(max-width: 1024.99px) {
      margin-right: -20px;
      margin-left: -20px;
      margin-bottom: 95px;

      // .splide__track {
      //   margin-bottom: 55px;
      // }

      .splide__arrows {
        justify-content: center;
        display: flex;
      }
    }

    @media(max-width: 768.99px) {
      margin-bottom: 75px;
    }

    @media(max-width:576.99px) {
      margin-bottom: 55px;
    }
  }

  &-card {
    &-img {
      line-height: 0;
      margin-bottom: 45px;
      position: relative;
      overflow: hidden;
      display: block;
      aspect-ratio: 1.5556;

      img {
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      font-size: 42px;
      margin-bottom: 18px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 34px;
      position: relative;

      .splide__arrows {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &-subtitle {
      font-size: 20px;
      font-style: italic;
    }

    &-line {
      width: calc(100% + 30px);
      height: 1px;
      background: #7B7B7B;
      position: relative;
      margin-bottom: 52px;

      &.width {
        width: 100%;
      }

      .circle {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #D9D9D9;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);

        .inner-circle {
          width: 20px;
          height: 20px;
          background: #e9431f;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    @media(max-width: 1024.99px) {
      &-title {
        font-size: 40px;
      }

      &-img {
        margin-bottom: 35px;
      }

      &-txt {
        padding-right: 20px;
        padding-left: 20px;
      }

      &-line {
        width: calc(100% + 70px);
        margin-bottom: 50px;

        &.width {
          width: calc(100% + 40px);
        }
      }
    }

    @media(max-width:768.99px) {
      &-title {
        font-size: 35px;
      }

      &-img {
        margin-bottom: 25px;
      }

      &-subtitle {
        font-size: 18px;
      }

      &-line {
        margin-bottom: 45px;
      }
    }

    @media(max-width:576.99px) {
      &-title {
        font-size: 32px;
      }

      &-img {
        margin-bottom: 20px;
      }

      &-line {
        margin-bottom: 40px;
      }
    }
  }
}

.news {
  padding-bottom: 130px;
  margin-bottom: 118px;
  // border-bottom: 1px solid #292929;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -100%;
    right: -100%;
    bottom: 0;
    height: 1px;
    background-color: #292929;
    z-index: -1;
  }

  @media(max-width: 1680.99px) {
    padding-bottom: 120px;
    margin-bottom: 108px;
  }

  @media(max-width: 1300.99px) {
    padding-bottom: 110px;
    margin-bottom: 98px;
  }

  @media(max-width: 1170.99px) {
    padding-bottom: 100px;
    margin-bottom: 88px;
  }

  @media(max-width: 1024.99px) {
    padding-bottom: 60px;
    margin-bottom: 50px;

    .splide__track {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

.achievements {
  position: relative;
  padding-bottom: 140px;
  margin-bottom: 110px;

  &::before {
    content: "";
    position: absolute;
    left: -100%;
    right: -100%;
    bottom: 0;
    height: 1px;
    background-color: #292929;
    z-index: -1;
  }

  &-img {
    line-height: 0;
    position: relative;
    overflow: hidden;

    img {
      transition: transform .3s ease;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
      z-index: 9999;
    }
  }

  @media(max-width: 1680.99px) {
    padding-bottom: 120px;
    margin-bottom: 90px;
  }

  @media(max-width: 1300.99px) {
     padding-bottom: 100px;
     margin-bottom: 100px;
  }

  @media(max-width: 1170.99px) {
     padding-bottom: 80px;
     margin-bottom: 80px;
  }

  @media(max-width: 1024.99px) {
     padding-bottom: 60px;
     margin-bottom: 50px;

     .splide__track {
        margin-right: -20px;
        margin-left: -20px;
     }
  }

  @media(max-width: 768.99px) {
    &-img {
      text-align: center;
    }
  }

  @media(max-width: 599px) {
    position: relative;

    .splide__arrows {
      top: auto;
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 10;
      position: absolute;
    }

    .splide__list {
      margin-bottom: 0 !important;
    }
  }
}

.contacts {
  margin-bottom: 140px;

  &-info {
    padding-left: 55px;
    margin-right: 95px;
    position: relative;
    font-size: 24px;
    color: #D9D9D9;

    &:last-child {
      margin-right: 0;
    }

    &-list {
      margin-left: 57px;
      margin-bottom: 60px;
      flex-wrap: wrap;
    }

    &-img {
      position: absolute;
      left: 0;
      top: 4px;
      line-height: 0;
    }

    a {
      color: #D9D9D9;
      transition: color .1s ease-in;

      &:hover {
        color: #fff;

        span {
          color: #D9D9D9;
        }
      }

      span {
        font-size: 14px;
        color: #D9D9D9;

      }
    }
  }

  &-map {
    position: relative;

    #map {
      filter: grayscale(0.9);
      width: 100%;
      height: 900px;
    }
  }

  &-form {
    position: absolute;
    right: 0;
    top: 74px;
    max-width: 560px;
    width: 100%;
    background: #121212;
    padding: 97px 55px 55px 55px;
    color: #D9D9D9;

    &-txt {
      font-size: 14px;
      margin-bottom: 47px;
      line-height: 1.2;
      max-width: 380px;

      a {
        text-decoration-line: underline;
        text-underline-offset: 4px;
        color: #D9D9D9;
        transition: color .1s ease-in;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  @media(max-width: 1680.99px) {
     &-info {
        font-size: 22px;
        margin-right: 25px;
        padding-left: 43px;

        &-list {
          margin-left: 25px;
          justify-content: space-between;
        }

        &-img {
          top: -2px;
        }
     }
  }

  @media(max-width: 1300.99px) {
     &-info {
        font-size: 20px;
        margin-right: 16px;
        padding-left: 40px;

        &-list {
          margin-left: 0;
        }
     }
  }

  @media(max-width: 1170.99px) {
    &-info {
      font-size: 16px;
      margin-right: 16px;
      padding-left: 40px;

      &-list {
        margin-left: 0;
      }
   }
  }

  @media(max-width: 1024.99px) {
    &-info {
      margin-bottom: 35px;
      font-size: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &-list {
        flex-direction: column;
      }
    }

    &-img {
      width: 28px;
    }

    &-map {
      margin: 0 -20px;

      #map {
        height: 365px;
      }
    }

    &-form {
      position: static;
      padding-top: 75px;
      max-width: 100%;

      &-txt {
        margin-bottom: 40px;
      }
    }
  }

  @media(max-width: 576.99px) {
    &-form {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 55px;
      padding-bottom: 0;
    }

    &-info {
      max-width: 350px;
    }

    a {
      display: block;
    }

    br {
      display: none;
    }
  }
}

.video {
  &-block {
    height: 960px;
    background-color: #7B7B7B;
  }
}

:root{
  --bordersize: 1px;
}