.splide__arrows {
  display: flex;
  align-items: center;
  position: relative;
  // top: 23px;

  @media(min-width: 1024.99px) {
     &.hidden {
        display: none;
     }
  }
}

.splide__arrow:disabled {
  cursor: auto;
}

.splide__arrow {
  position: static;
  transform: none;
}

.splide__arrow {
  background: transparent;
  width: 59px;
  border-radius: 0%;
  // padding: 0 10px;
  opacity: 1;
}

.splide__arrow--prev {
  margin-right: 20px;
}

.splide__pagination__page {
  background: #d9d9d9;
  width: 18px;
  height: 18px;
  opacity: 1;
  margin: 0;
}

.splide__pagination li {
  width: 18px;
  height: 18px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.splide__pagination__page.is-active {
  transform: none;
  background: #E74B23;
  position: absolute;

  &::before  {
    content: '';
    width: 12px;
    height: 12px;
    background: #E74B23;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &::after  {
    content: '';
    width: 16px;
    height: 16px;
    background: #121212;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

.splide__pagination {
  position: static;
}

.splide-controls {
  position: relative;
}

@media(max-width: 1024.99px) {
  .splide__list {
    margin-bottom: 80px !important;
  }
}

@media(max-width: 576.99px) {
  .splide__list {
    margin-bottom: 60px !important;
  }
}


.splide.ui-slider {
  padding-bottom: 65px;

  @media(max-width: 1680.99px) {
    padding-bottom: 60px;
  }

  @media(max-width: 1300.99px) {
    padding-bottom: 55px;
  }

  @media(max-width: 1170.99px) {
    padding-bottom: 50px;
  }

  @media(max-width: 1024.99px) {
    padding-bottom: 30px;
  }
}

.splide__slide {
  height:  auto !important;
}

.splide__list {
  align-items: flex-start !important;
}

.splide__list {
  transition: transform 400ms cubic-bezier(0.25, 1, 0.5, 1) 0s, height .5s ease !important;
}

// .splide {
//   .splide__track {
//       .splide__list {
//           align-items: flex-start !important;
//       }
//   }
// }
// .splide__slide:not(.is-active) {
//   height: 0 !important;
// }