.vacancy {
  margin-bottom: 160px;

  // .ui-title {
  //   margin-bottom: 100px;
  // }

  &-form {
    background: #333;
    padding: 88px 50px 80px 50px;

    .contacts-form-txt {
      color: #D9D9D9;
    }

    &-title {
      font-size: 36px;
      color: #D9D9D9;
      text-transform: uppercase;
      margin-bottom: 65px;
    }
  }

  @media(max-width: 1300.99px) {
    &-form {
      padding: 50px 30px;

      &-title {
        margin-bottom: 55px;
        font-size: 34px;
      }
    }
  }

  @media(max-width: 1170.99px) {
    &-form {
      padding-left: 20px;
      padding-right: 20px;

      &-title {
        margin-bottom: 55px;
        font-size: 32px;
      }
    }
  }

  @media(max-width: 1024.99px) {
    margin-bottom: 100px;

    &-form {
      padding: 75px 50px 50px 50px;
    }
  }

  @media(max-width: 768.99px) {
    margin-bottom: 80px;

    &-form {
      &-title {
        font-size: 30px;
        margin-bottom: 40px;
      }
    }
  }

  @media(max-width: 576.99px) {
    margin-bottom: 60px;

    &-form {
      padding: 50px 20px;
      margin: 0 -20px;

      &-title {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }
  }
}