/* base */
@import "./base/vars.scss";
@import "./base/typography.scss";
@import "./base/grid.scss";
@import "./base/mixin.scss";
@import "./base/ui.scss";

// popup
@import "./popup/success.scss";

// fonts
@import "fonts.scss";

/* layout */
@import "./layout/inc-header.scss";
@import "./layout/inc-footer.scss";

/* pages */
@import "splide";
@import "lightgallery";
@import "index";
@import "exhibition";
@import "news";
@import "pages";
@import "gallery";
@import "page-404";
@import "news-page";
@import "vacancy";
@import "development";
@import "company";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $baseFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  color: #fff;
  background-color: #121212;

  &.active {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;

  &.parallax {
    padding-top: 100vh;
  }
}

.middle {
  flex: 1 0 auto;
  -webkit-box-flex: 1;

  &.parallax {
    margin-top: 100vh;
    position: relative;
    z-index: 1;
    background-color: #121212;
    padding-top: 144px;
    border-top: 2px solid #292929;
  }

  @media(max-width: 1024.99px) {
    &.parallax {
      padding-top: 0;
      border-top: none;
    }
  }
}

.middle {
  padding-top: 246px;

  @media(max-width: 1024.99px) {
     padding-top: 181px;
  }
}

#footer {
  flex: 0 0 auto;
  -webkit-box-flex: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $widthContainer;
  padding-left: $paddingContainer;
  padding-right: $paddingContainer;

  @media(max-width: 1366.99px) {
    max-width: 1780px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: table;
  width: 100%;
  height: 100%;
  background: #121212;
  opacity: 0;
  transition: .8s ease-in-out;
  padding: 0 20px;
}

.preloader.-active,.preloader__logo.-active .preloader__part,.preloader__logo.-active .preloader__symbol {
  opacity: 1
}

.preloader__inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle
}

.preloader__logo {
  text-align: left;
  display: inline-block
}

.preloader__part,.preloader__symbol {
  display: inline-block;
  vertical-align: baseline;
  opacity: 0;
  transition: .5s ease-in
}

.preloader__part[data-id="1"],.preloader__symbol[data-id="1"] {
  transition-delay: .6s
}

.preloader__part[data-id="2"],.preloader__symbol[data-id="2"] {
  transition-delay: 1.2s
}

.preloader__part[data-id="3"],.preloader__symbol[data-id="3"] {
  transition-delay: 1.8s
}

.preloader__part[data-id="4"],.preloader__symbol[data-id="4"] {
  transition-delay: 2.4s
}

.preloader__part[data-id="5"],.preloader__symbol[data-id="5"] {
  transition-delay: 3s
}

.preloader__part[data-id="6"],.preloader__symbol[data-id="6"] {
  transition-delay: 3.6s
}

.preloader__part[data-id="7"],.preloader__symbol[data-id="7"] {
  transition-delay: 4.2s
}

.preloader__part[data-id="8"],.preloader__symbol[data-id="8"] {
  transition-delay: 4.8s
}

.preloader__abr {
  font-size: 0;
  color: #fff;
  line-height: normal;
  margin-top: 30px;
  width: 100%;
  max-width: 1329px;
}

.preloader__abr-svg {
  display: block;
  width: 100%;
  height: auto;
  fill: #fff
}